@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  color: #000;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: linear-gradient(
    135deg,
    #8052ec,
    #d161ff
  );
}

#root{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  /* background: #B6D159; */
}